h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
body {
  font-family: 'Dm Sans', 'Mulish', sans-serif;
  color: #19191b;
  font-size: 15px;
  background-color: #fff;
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
