@mixin font($weight, $size, $height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}
@mixin medium {
  width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}
@mixin phone_size {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
