.header {
  padding-top: 30px;
  padding-bottom: 120px;
  .container {
    width: 1070px;
    margin-left: calc((100% - 1146px) / 2);
    padding: 0 20px;
    @extend %display-row;
    align-items: center;
  }
}
.header__btn {
  padding: 20px 60px;
  border-radius: 16px;
  border: none;
  color: $white-m;
  background-color: $orange-m;
  @include font(700, 17px, 100%);
  letter-spacing: -0.53px;
}

.navigation__list {
  display: flex;
  gap: 48px;
  &__item {
    display: block;
    padding: 44px 0;
    @include font(700, 16px, 100%);
    color: $gray-m;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      height: 2px;
    }
    &:hover {
      color: $black-m;
      &::after {
        width: 100%;
        background-color: #5454d4;
      }
    }
  }
}

@media (max-width: 1111px) and (min-width: 768px) {
  .header {
    .container {
      align-items: center;
      align-content: center;
      justify-content: space-evenly;
      gap: 40px;
      @include medium();
      // margin-left: 0;
    }
    &__btn {
      padding: 10px 20px;
      border-radius: 10px;
    }
  }
}
.navigation__list {
  display: flex;
  gap: 32px;
  &__item {
    padding: 24px 0;
    font-size: 17px;
  }
}

@media (max-width: 767px) {
  .header {
    &__logo {
      margin-bottom: 30px;
    }
    .container {
      @include phone_size();
      flex-wrap: wrap;
      align-items: center;
    }
  }
  .navigation {
    margin-bottom: 30px;
    &__list {
      width: 200px;
      gap: 32px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    &__item {
      padding: 22px 0;
    }
  }
}
