.navigation__wrap {
  padding-bottom: 150px;
  .container {
    width: $container;
    @extend %layout-container;
  }
}
.navigation__wrap__items {
  display: flex;
  gap: 120px;
}

@media (max-width: 1111px) and (min-width: 768px) {
  .navigation__wrap {
    padding-bottom: 0;
    padding-top: 50px;
    &__items {
      gap: 32px;
    }
    .container {
      @include medium();
    }
  }
}
