.navigation__wrap {
  padding-bottom: 150px;
  .container {
    width: $container;
    @extend %layout-container;
  }
}
.navigation__wrap__items {
  // @extend %display-row;
  display: flex;
  gap: 120px;
}
