.scale {
  padding-bottom: 138px;
  .container {
    width: $container;
    display: flex;
    @extend %layout-container;
    align-items: center;
  }
  &__title {
    @include font(700, 50px, 57px);
    letter-spacing: -1.56px;
    color: $black-m;
    margin-bottom: 30px;
  }
  &__item {
    @include font(400, 20px, 30px);
    letter-spacing: -0.63px;
    color: $black-m;
    width: 460px;
    @extend %mulish-font;
    margin-right: 160px;
    margin-bottom: 30px;
  }
  &__link {
    @include font(700, 17px, 100%);
    letter-spacing: -0.53px;
    color: $blue-m;
  }
}

@media (max-width: 1111px) and (min-width: 768px) {
  .scale {
    justify-content: space-between;
    .container {
      @include medium();
      justify-content: space-between;
    }
    &__title {
      font-size: 30px;
    }
    &__item {
      width: 280px;
      margin-right: 0;
    }
    &__img {
      width: 300px;
    }
  }
}

@media (max-width: 767px) {
  .scale {
    .container {
      @include phone_size();
      flex-wrap: wrap;
      align-items: center;
    }
    &__title {
      font-size: 30px;
      width: 280px;
    }
    &__img {
      width: 280px;
      height: 300px;
    }
    &__item {
      width: 280px;
      margin: 0 0 30px 0;
    }
  }
  .scale_container {
    margin-bottom: 40px;
  }
}
